html, body {
  height: 100vh;
  margin: 0px;
}

header {
  height: 10%;
  width: 100%;
  background-color: #C0C5CE;
  margin: 0;
  position: relative;
  float: left;
  padding: 0.3em;
 }

header h1 {
  line-height: 100%;
  width: 45vw;
  margin: 0;
  display: inline-block;
  padding: 1% 0 0 1%;
}

header button {
  float: right;
  margin: 0.7% 2% auto;
  background-color: #FFFFFF;
  border: solid 1px #000000;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

header input {
  display: none;
}

canvas {
  margin: 2% 25% 0;
}
